# vim: ft=yaml :
yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'
extends: default
rules:
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  comments:
    min-spaces-from-content: 1
  document-end: disable
  document-start: disable
  indentation:
    level: warning
    spaces: 2
    indent-sequences: false
  line-length:
    max: 140
  truthy:
    check-keys: false
